@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);
* {
  box-sizing: border-box;
}

body {
  background: lightgray;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.row {
  margin: 0 -15px;
}
.row:after, .row:before {
  content: '';
  display: table;
  clear: both;
}

/*The size, orientation of just blocks, not content*/
.col-1 {
  width: 33.333%;
  padding: 0 15px;
  float: left;
}

.col-2 {
  width: 66.666%;
  padding: 0 15px;
  float: left;
}

.col-3 {
  width: 100%;
  padding: 0 15px;
  float: left;
}
h1{
  font-family: 'Pacifico', cursive;
  color: #3498DB;
}

.tab {
    margin-left: 25px;
    margin-right: 25px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 50px;
}
.wrapper_container {
  width: 1000px;
  max-height: 1000px;
  border-radius: 10px;
}

.site-wrapper {
  min-height: 500px;
  background: #ECECEC;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.23);
  padding-left: 80px;
  padding-right: 30px;
  padding-top: 85px;
  padding-bottom: 30px;
  position: relative;
  -webkit-transition: padding .3s linear;
  transition: padding .3s linear;
}
.site-wrapper_left-col {
  position: absolute;
  background: #34495E;
  width: 45px;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  overflow: hidden;
  z-index: 20;
  border-radius: 10px 0 0 10px;
}
.site-wrapper_left-col .logo {
  display: block;
  background: #3498DB;
  padding: 15px;
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  text-decoration: none;
  color: transparent;
  text-align: center;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}
.site-wrapper_left-col .logo:before {
  content: 'L';
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.site-wrapper_left-col .logo:hover, .site-wrapper_left-col .logo:focus {
  background: #217dbb;
  text-decoration: none;
}
.site-wrapper_left-col .left-nav a {
  display: block;
  line-height: 45px;
  border-left: 0 solid #34495E;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 2px;
  border-bottom: 1px solid #2C3E50;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  white-space: nowrap;
}
.site-wrapper_left-col .left-nav a i {
  width: 35px;
}
.site-wrapper_left-col .left-nav a:hover, .site-wrapper_left-col .left-nav a:focus, .site-wrapper_left-col .left-nav a.active {
  background: #2C3E50;
  border-left-color: #3498DB;
  border-left-width: 5px;
}
.site-wrapper_top-bar {
  height: 54px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  text-align: right;
}
.site-wrapper_top-bar a {
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: #3498DB;
}
.site-wrapper_top-bar a:hover, .site-wrapper_top-bar a.active {
  background: #3498DB;
  color: rgba(255, 255, 255, 0.6);
}
.site-wrapper.active {
  padding-left: 230px;
}
.site-wrapper.active .site-wrapper_left-col {
  width: 200px;
}
.site-wrapper.active .site-wrapper_left-col .logo {
  color: rgba(255, 255, 255, 0.6);
}
.site-wrapper.active .site-wrapper_left-col .logo:before {
  opacity: 0;
  position: absolute;
}

.user-item {
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
}
.user-item_photo {
  overflow: hidden;
  position: relative;
}
.user-item_photo:after {
  content: '';
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  z-index: 20;
  top: -80px;
  right: -80px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.user-item_photo img {
  max-width: 100%;
}
.user-item_info {
  padding: 30px;
  text-align: left;
  vertical-align: text-top;
}
.user-item_infoname {
  text-align: center;
}
.user-item_info .name {
  color: #34495E;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 5px;
}
.user-item_info .sub {
  color: #AFAFAF;
}
.user-item_info .controls {
  padding-top: 15px;
}
.user-item_info .controls img {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 25px;
  background: #3498DB;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  margin: 0 5px;
  -webkit-transition: background .3s linear, -webkit-transform .3s ease-in-out;
  transition: background .3s linear, -webkit-transform .3s ease-in-out;
  transition: background .3s linear, transform .3s ease-in-out;
  transition: background .3s linear, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.user-item_info .controls a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background: #3498DB;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  margin: 0 5px;
  -webkit-transition: background .3s linear, -webkit-transform .3s ease-in-out;
  transition: background .3s linear, -webkit-transform .3s ease-in-out;
  transition: background .3s linear, transform .3s ease-in-out;
  transition: background .3s linear, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.user-item_info .controls a:hover {
  background: #196090;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.chat {
  min-height: 354px;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 75px;
  padding-left: 30px;
}
.chat .head {
  line-height: 45px;
  background: #3498DB;
  padding: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}
.chat .head i {
  margin-right: 10px;
}
.chat .footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #34495E;
  text-align: center;
  padding: 10px 15px;
  border-radius: 0 0 10px 10px;
}
.chat .footer input[type="text"] {
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  vertical-align: middle;
  border: 0;
  height: 40px;
  padding: 0 15px;
  margin: 0 5px;
  width: 100%;
  max-width: 250px;
  outline: none;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  color: gray;
}
.chat .footer input[type="text"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.chat .footer input[type="text"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.chat .footer input[type="text"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.chat .footer input[type="text"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.chat .footer input[type="text"]:focus {
  background: #fff;
}
.chat .footer button {
  background: #3498DB;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
  outline: none;
}
.chat .footer button:hover {
  background: #196090;
}

.chat_inner-item {
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.chat_inner-item .photo img {
  width: 40px;
  height: 40px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat_inner-item .message {
  padding: 12px 20px;
  background-color: #ECECEC;
  border-radius: 5px;
  color: #808080;
  letter-spacing: 1px;
}
.chat_inner-item .message ~ .photo {
  margin-right: 0;
  margin-left: 10px;
}
.chat_inner-item.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
*{
  font-family: "Lato";
}

/*decoration*/
h1{
  margin: 33px 50px 0;
  background: #EFF0F2;
  width:  275px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 165px 5px 0 0;
  padding: 0px 0;
  color: #34495E;
}
h1:before{
  color: 		#FFD700;
  content: "★★★★★";
  display: block;
  font-size: 2em;
  padding: 20px 0;
}
.product-review-stars{
  margin: 0 50px; 
  background: #5c7e94;
  padding: 20px 50px 20px 20px;
}

.product-review-stars label{
    text-shadow: 0px 0px 10px black;
}

/*end decoration*/

.visuallyhidden{
  position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px);
}
.product-review-stars label:after{
    content: "★";
    color: inherit;
    -webkit-transform: scale(4);
    position: absolute;
    z-index: 4;
    left: 0px;
    transition: all .4s;
    opacity: 0;
    color: inherit;
    visibility: hidden;
   
}

.product-review-stars input:checked + label:after{
    visibility: visible;
    -webkit-transform: scale(1);
    opacity: 1;
}

.product-review-stars  {
  unicode-bidi: bidi-override;
  direction: rtl;
  width:  205px;
}

.product-review-stars label{
    font-family: "icomoon";
    font-size: 2em;
    position: relative;
    cursor: pointer;
    color: #DFE3E4;
}
.product-review-stars input:checked ~ label:before{
    opacity: 1;
}
.product-review-stars:hover input ~ label:before{
    opacity: 0;
}

.product-review-stars input + label:before{
    content: "\2605";
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out, color .3s ease-in-out;
    backface-visibility:hidden;
-webkit-backface-visibility:hidden; /* Chrome and Safari */
-moz-backface-visibility:hidden; /* Firefox */
-ms-backface-visibility:hidden; /* Internet Explorer */
}
.product-review-stars input + label:hover:before,
.product-review-stars input + label:hover ~ label:before
{
    opacity: 1;
}
.product-review-stars input + label:nth-of-type(1):after,
.product-review-stars input + label:nth-of-type(1):before,
.product-review-stars input +  label:nth-of-type(1):hover:before,
.product-review-stars input + label:nth-of-type(1):hover ~ label:before,
.product-review-stars input:nth-of-type(1):checked ~ label:before{
    color: #2ecc71;
}
.product-review-stars input + label:nth-of-type(2):after,
.product-review-stars input + label:nth-of-type(2):before,
.product-review-stars input + label:nth-of-type(2):hover:before,
.product-review-stars input + label:nth-of-type(2):hover ~ label:before,
.product-review-stars input:nth-of-type(2):checked ~ label:before{
    color: #f1c40f;
}
.product-review-stars input + label:nth-of-type(3):after,
.product-review-stars input + label:nth-of-type(3):before,
.product-review-stars input + label:nth-of-type(3):hover:before,
.product-review-stars input + label:nth-of-type(3):hover ~ label:before,
.product-review-stars input:nth-of-type(3):checked ~ label:before{
    color: #F39C12;
}
.product-review-stars input + label:nth-of-type(4):after,
.product-review-stars input + label:nth-of-type(4):before,
.product-review-stars input + label:nth-of-type(4):hover:before,
.product-review-stars input + label:nth-of-type(4):hover ~ label:before,
.product-review-stars input:nth-of-type(4):checked ~ label:before{
    color: #e74c3c;
}

.product-review-stars input + label:nth-of-type(5):after,
.product-review-stars input + label:nth-of-type(5):before,
.product-review-stars label:nth-of-type(5):hover:before,
.product-review-stars input:nth-of-type(5):checked ~ label:before{
    color: #d35400;
}

.product-review-stars label:nth-of-type(5):hover:before{
    color: #d35400 !important;
}
